.start-screen{
    background-image: url('./../../assets/img/start-screen-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(50%);
    height: 100vh;
    width: 100vw;
    max-width: 100%;
}