@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
}

.font-medievalSharp{
    font-family: 'MedievalSharp', cursive;
}

$color_font_white: rgb(187, 187, 187);

@mixin dflex($jc: center, $ai: center, $g: 0px) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  gap: $g;
}

@mixin backgroundImg($br: no-repeat, $bs: cover, $bp: center) {
  background-repeat: $br;
  background-size: $bs;
  background-position: $bp;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
